<footer>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/logo.png" alt="Logo"></a>
                        <p>Neked 1% adó, Nekünk 100% szakmai fejlődés!
                            <br>Köszönjük, ha Te is hozzájárulsz szakkollégiumunk és Liskásaink fejlődéséhez!
                        </p>
                        <p>Liska Tibor Szakkollégiumért Alapítvány
                            <br>Adószám: 18225480-1-42
                        </p>
                        <ul>
                            <li><a href="https://www.youtube.com/channel/UC7QTR3yt-6GKJfg8jiNbpZg" target="_blank"><i
                                        class="icofont-youtube-play"></i></a></li>
                            <li><a href="https://www.facebook.com/liskatiborszakkollegium" target="_blank"><i class="icofont-facebook"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/liskatiborszakkollegium/?hl=hu" target="_blank"><i
                                        class="icofont-instagram"></i></a></li>
                            <li><a href="https://hu.linkedin.com/company/liska-tibor-college-for-advanced-studie" target="_blank"><i class="icofont-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-service">
                        <h3>Gyors linkek</h3>

                        <ul>
                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Rólunk</a></li>
                            <li><a routerLink="about"><i class="icofont-simple-right"></i> Alappilléreink</a></li>
                            <li><a routerLink="blog"><i class="icofont-simple-right"></i> Projektek</a></li>
                            <li><a routerLink="attorney"><i class="icofont-simple-right"></i> Tagfelvétel</a></li>
                            <li><a routerLink="testimonial"><i class="icofont-simple-right"></i> Partnereink</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-5">
                <div class="footer-item">
                    <div class="footer-find">
                        <h3>Kapcsolat</h3>

                        <ul>
                            <li><i class="icofont-location-pin"></i> Wigner Jenő Kollégium <br>1117 Budapest, Dombóvári
                                út 3.
                                <br>B301
                            </li>
                            <li><i class="icofont-at"></i> <a href="mailto:hello@lufz.com"> info@ltsz.hu</a></li>
                            <li><i class="icofont-phone"></i> +36 20 323 9073 (Bagi Laura- Elnök)</li>
                            <li><i class="icofont-phone"></i> +36 30 791 3237 (Borbély Bianka – PR-vezető)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row">
                <div class="col-sm-7 col-lg-6">
                    <div class="copyright-item">
                        <p>Copyright @2020 <strong>Lufz</strong>. Designed by <a href="https://hibootstrap.com/"
                                target="_blank">HiBootstrap</a></p>
                    </div>
                </div>

                <div class="col-sm-5 col-lg-6">
                    <div class="copyright-item copyright-right">
                        <a routerLink="/terms-conditions" target="_blank">Terms & Conditions</a> <span>-</span>
                        <a routerLink="/privacy-policy" target="_blank">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>