<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>{{ getName() }}</h2>

                <ul>
                    <li><a routerLink="/">Főoldal</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>{{ getName() }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="practice-details-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="practice-details-item">
                    <div class="practice-details-content">
                        <div class="section-title text-left">
                            <h2>{{ getName() }}</h2>
                        </div>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <p>Risus commodo viverra maecenas accumsan lacus vel facilisis. . Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <ul>
                            <li><span>Retribution –</span> Criminals ought to Be Punished in some way.</li>
                            <li><span>Deterrence –</span> Individual deterrence is aimed toward the specific offender.</li>
                            <li><span>Incapacitation – </span> Designed simply to keep criminals away from society.</li>
                            <li><span>Rehabilitation –</span> Aims at transforming an offender into a valuable member of society.</li>
                        </ul>
                        <p>Risus commodo viverra maecenas accumsan lacus vel facilisis. . Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </div>
                </div>

                <div class="practice-details-case">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="portfolio-item  wow fadeInUp" data-wow-delay=".3s">
                                <img src="assets/img/home-one/portfolio/1.jpg" alt="Portfolio">

                                <div class="portfolio-inner">
                                    <span>2021</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay=".4s">
                                <img src="assets/img/home-one/portfolio/2.jpg" alt="Portfolio">

                                <div class="portfolio-inner">
                                    <span>2020</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay=".3s">
                                <img src="assets/img/home-one/portfolio/3.jpg" alt="Portfolio">

                                <div class="portfolio-inner">
                                    <span>2019</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6">
                            <div class="portfolio-item wow fadeInUp" data-wow-delay=".4s">
                                <img src="assets/img/home-one/portfolio/1.jpg" alt="Portfolio">

                                <div class="portfolio-inner">
                                    <span>2018</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="practice-details-item">
                    <div class="blog-details-category">
                        <ul>
                            <li><a (click)="changeTeam('board')">Elnökség <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click)="changeTeam('hr-team')">HR-Csapat <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click)="changeTeam('marketing-team')">Marketingcsapat <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click)="changeTeam('financial-team')">Pénzügyi Csapat <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click)="changeTeam('pr-team')">PR-Kommandó <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click)="changeTeam('professional-team')">Szakmai Bizottság <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click)="changeTeam('seniors')">Seniorok <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click)="changeTeam('supervisory-board')">Felügyelőbizottság <i class="icofont-arrow-right"></i></a></li>
                            <li><a (click)="changeTeam('selection-board')">Felvételi Bizottság <i class="icofont-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="help-shape">
        <img src="assets/img/home-one/6.png" alt="Shape">
    </div>
</div>