<div class="banner-area banner-area-two banner-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item">
                            <div class="banner-left">
                                <h1>Liska Tibor Szakkollégium</h1>
                                <a routerLink="/">Szervezetünk <i class="icofont-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="banner-item">
                            <div class="banner-right">
                                <img class="banner-animation" src="assets/img/home-one/3.png" alt="Banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter-area">
    <div class="container">
        <div class="row counter-bg">
            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-judge"></i>
                    <div class="counter-inner">
                        <h3 class="counter"><span class="counter">30</span>+</h3>
                        <p style="color: white;">Aktív tag</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-auction"></i>
                    <div class="counter-inner">
                        <h3><span class="counter">150</span>+</h3>
                        <p style="color: white;">Senior tag</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-medal"></i>
                    <div class="counter-inner">
                        <h3><span class="counter">100</span>%</h3>
                        <p style="color: white;">Fejlődés</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-3 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-team"></i>
                    <div class="counter-inner">
                        <h3><span class="counter">14</span></h3>
                        <p style="color: white;">Év</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="help-area help-area-two pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="help-item help-left">
                    <img src="assets/img/home-two/5.jpg" alt="Help">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="help-item">
                    <div class="help-right">
                        <h2>Kik vagyunk mi? </h2>
                        <p>As Professional Law Firm we are certified to achieve our client’s Victory. And, to deal with the bad times of your, these proficient  Attorneys will always serve you with compassion, honesty, and respect. To make you win is the most consequential motive of us.</p>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

                        <div class="help-inner-left">
                            <ul>
                                <li><i class="flaticon-checkmark"></i>
                                    Browse Our Website</li>
                                <li><i class="flaticon-checkmark"></i> Choose Services</li>
                            </ul>
                        </div>

                        <div class="help-inner-right">
                            <ul>
                                <li><i class="flaticon-checkmark"></i> Quick Reply</li>
                                <li><i class="flaticon-checkmark"></i> Best Performances</li>
                            </ul>
                        </div>

                        <div class="help-signature">
                            <img src="assets/img/home-one/4.png" alt="Signature">
                        </div>

                        <a class="cmn-btn" routerLink="/practice">Történetünk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="portfolio-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>LTSZ</span>
            <h2>Szakkollégiumunk alappillérei</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="assets/img/home-one/portfolio/1.jpg" alt="Portfolio">

                    <div class="portfolio-inner">
                        <h3><a routerLink="/case-study-details">Szakmaiság</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="portfolio-item">
                    <img src="assets/img/home-one/portfolio/2.jpg" alt="Portfolio">

                    <div class="portfolio-inner">
                        <h3><a routerLink="/case-study-details">Közösség</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="portfolio-item">
                    <img src="assets/img/home-one/portfolio/3.jpg" alt="Portfolio">

                    <div class="portfolio-inner">
                        <h3><a routerLink="/case-study-details">Projektalapúság</a></h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<section class="expertise-area expertise-area-two">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title text-left">
                    <br>
                    <span>Liskások véleménye alapján…</span>
                    <h2 style="font-size: 32px;">A szakkoli annyi, amennyit beleraksz, mert a befektetett idő tapasztalattá és élményekké alakul át!</h2>
                </div>

               <div class="expertise-item">
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay=".3s">
                            <div class="expertise-icon">
                                <i class="flaticon-experience"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Egyetem melletti fejlődés</h3>
                            <p>“Nagyobb kockázat nélkül, de jó esetben, azért a felelősség súlya alatt próbálgathattuk a szárnyainkat. Jobban megismerhettük magunkat, képességeinket és határainkat. Megtanultunk csapatban dolgozni és vezetői pozíciót vállalni.”
                            </p>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay=".4s">
                            <div class="expertise-icon">
                                <i class="flaticon-lawyer"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Felejthetetlen élmények</h3>
                            <p>“Szakmai sikerélményeket, tapasztalatokat lehet bezsebelni, nem beszélve a közösségi élményről...”
                            </p>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay=".5s">
                            <div class="expertise-icon">
                                <i class="flaticon-balance"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>Családias környezet</h3>
                            <p>„Nem kötelező, de nagyobb kincset rejt, mint elsőre gondolná az ember!” 
                            </p>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay=".5s">
                            <div class="expertise-icon">
                                <i class="flaticon-balance"></i>
                                <img src="assets/img/home-one/11.png" alt="Shape">
                            </div>
                            <h3>"Szakmai játszótér"</h3>
                            <p>“A szakkolis lét közben játszva tanulható meg a valós profi projektmunka számos eleme, hatalmas előnyt ad a munkaerőpiacon azokkal szemben, akik az egyetem mellett nem végeztek szakmai tevékenységet, vagy akik "csak" gyakornokoskodtak”</p>
                        </li>
                    </ul>
               </div>
            </div>

            <div class="col-lg-6">
                <div class="expertise-image">
                    <img src="assets/img/home-one/10.png" alt="Expertise">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="practice-area practice-area-two pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Tapasztalatszerzés & Szórakozás</span>
            <h2>Projektjeink</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="practice-item" style="background: url('assets/img/projects/liskonf.png')">
                    <div class="practice-icon">
                        <i class="flaticon-law"></i>
                    </div>
                    <h3>LisKonferencia</h3>
                    <p>Our attorneys are well experienced and able to offer the best support in the civil law area.</p>
                    <a routerLink="/practice-details" style="color: #404040; border: 1px solid #7DB71D">Read More</a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="practice-item" style="background: url('assets/img/projects/est.png')">
                    <div class="practice-icon">
                        <i class="flaticon-family"></i>
                    </div>
                    <h3>LiskaEst</h3>
                    <p>Our attorneys are highly qualified and experienced enough to obtain a better consequence.</p>
                    <a routerLink="/practice-details" style="color: #404040; border: 1px solid #7DB71D">Read More</a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="practice-item" style="background: url('assets/img/projects/bevono.png')">
                    <div class="practice-icon">
                        <i class="flaticon-inheritance"></i>
                    </div>
                    <h3>Bevonótáborok</h3>
                    <p>Till our attorneys are here to support you, you don't have to think about your business cases.</p>
                    <a routerLink="/practice-details" style="color: #404040; border: 1px solid #7DB71D">Read More</a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="practice-item" style="background: url('assets/img/projects/szn.png')">
                    <div class="practice-icon">
                        <i class="flaticon-mortarboard"></i>
                    </div>
                    <h3>Liska Tibor Szakmai Napok</h3>
                    <p>Squads of Lyzo are extremely competent, consider their client’s condition & empower them to succeed.</p>
                    <a routerLink="/practice-details" style="color: #404040; border: 1px solid #7DB71D">Read More</a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="practice-item" style="background: url('assets/img/projects/lkl.png')">
                    <div class="practice-icon">
                        <i class="flaticon-auction"></i>
                    </div>
                    <h3>LisKaland</h3>
                    <p>We have the leading attorneys to resolve challenging criminal cases very carefully and sensitively.</p>
                    <a routerLink="/practice-details" style="color: #404040; border: 1px solid #7DB71D">Read More</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="team-area">
    <div class="container">
        <div class="section-title">
            <span>XXIV.</span>
            <h2>Elnökség</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/persons/lau.jpg" alt="Team">
                    
                    <div class="team-inner" style="padding-top: 8px;">
                        <h5>Bagi Laura</h5>
                        <p style="margin: 0;">Elnök</p>
                        <span>bagi.laura@ltsz.hu</span> <!-- TODO: mailto -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/persons/regi.jpg" alt="Team">
                    
                    <div class="team-inner" style="padding-top: 8px;">
                        <h5>Kurunczi Regina</h5>
                        <p style="margin: 0;">Alelnök</p>
                        <span>kurunczi.regina@ltsz.hu</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/persons/fanni.jpg" alt="Team">
                    
                    <div class="team-inner" style="padding-top: 8px;">
                        <h5>Lehoczky Fanni</h5>
                        <p style="margin: 0;">Szakmai vezető</p>
                        <span>lehoczky.fanni@ltsz.hu</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/persons/dani.jpg" alt="Team">

                    <div class="team-inner" style="padding-top: 8px;">
                        <h5>Mák Dániel</h5>
                        <p style="margin: 0;">Gazdasági vezető</p>
                        <span>mak.daniel@ltsz.hu</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/persons/bia.jpg" alt="Team">

                    <div class="team-inner" style="padding-top: 8px;">
                        <h5>Borbély Bianka</h5>
                        <p style="margin: 0;">PR-vezető</p>
                        <span>borbely.bianka@ltsz.hu</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/persons/krisz.jpg" alt="Team">

                    <div class="team-inner" style="padding-top: 8px;">
                        <h5>Pethe Krisztián</h5>
                        <p style="margin: 0;">HR-vezető</p>
                        <span>pethe.krisztian@ltsz.hu</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/persons/bea.jpg" alt="Team">

                    <div class="team-inner" style="padding-top: 8px;">
                        <h5>Eigler Beáta</h5>
                        <p style="margin: 0;">Marketingvezető</p>
                        <span>eigler.beata@ltsz.hu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-area pt-100">
    <div class="container">
        <div class="section-title">
            <span>Csapatban az erő</span>
            <h2>Szervezeti egységeink</h2>
        </div>

        <div class="blog-slider owl-theme owl-carousel">

            <div class="blog-item">
                <a routerLink="/blog-details">
                    <img src="assets/img/home-one/blog/2.jpg" alt="Blog">
                </a>

                <div class="blog-inner" style="padding-top: 8px; background: #F2F2F2;">
                    <h3><a routerLink="/blog-details">Felügyelőbizottság</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                </div>
            </div>

            <div class="blog-item">
                <a routerLink="/blog-details">
                    <img src="assets/img/home-one/blog/3.jpg" alt="Blog">
                </a>

                <div class="blog-inner" style="padding-top: 8px; background: #F2F2F2;">
                    <h3><a routerLink="/blog-details">Felvételi Bizottság</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                </div>
            </div>

            <div class="blog-item">
                <a routerLink="/blog-details">
                    <img src="assets/img/home-one/blog/1.jpg" alt="Blog">
                </a>

                <div class="blog-inner" style="padding-top: 8px; background: #F2F2F2;">
                    <h3><a routerLink="/blog-details">Elnökség</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                </div>
            </div>

            <div class="blog-item">
                <a routerLink="/blog-details">
                    <img src="assets/img/home-one/blog/2.jpg" alt="Blog">
                </a>

                <div class="blog-inner" style="padding-top: 8px; background: #F2F2F2;">
                    <h3><a routerLink="/blog-details">PR-Csapat</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                </div>
            </div>

            <div class="blog-item">
                <a routerLink="/blog-details">
                    <img src="assets/img/home-one/blog/3.jpg" alt="Blog">
                </a>

                <div class="blog-inner" style="padding-top: 8px; background: #F2F2F2;">
                    <h3><a routerLink="/blog-details">HR-Csapat</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                </div>
            </div>

            <div class="blog-item">
                <a routerLink="/blog-details">
                    <img src="assets/img/home-one/blog/1.jpg" alt="Blog">
                </a>

                <div class="blog-inner" style="padding-top: 8px; background: #F2F2F2;">
                    <h3><a routerLink="/blog-details">Szakmai Bizottság</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                </div>
            </div>

            <div class="blog-item">
                <a routerLink="/blog-details">
                    <img src="assets/img/home-one/blog/2.jpg" alt="Blog">
                </a>

                <div class="blog-inner" style="padding-top: 8px; background: #F2F2F2;">
                    <h3><a routerLink="/blog-details">Pénzügyi Csapat</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                </div>
            </div>

            <div class="blog-item">
                <a routerLink="/blog-details">
                    <img src="assets/img/home-one/blog/3.jpg" alt="Blog">
                </a>

                <div class="blog-inner" style="padding-top: 8px; background: #F2F2F2;">
                    <h3><a routerLink="/blog-details">Marketingcsapat</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                </div>
            </div>

            <div class="blog-item">
                <a routerLink="/blog-details">
                    <img src="assets/img/home-one/blog/3.jpg" alt="Blog">
                </a>

                <div class="blog-inner" style="padding-top: 8px; background: #F2F2F2;">
                    <h3><a routerLink="/blog-details">Seniorok</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</section>