<div class="navbar-area fixed-top">

    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <img src="assets/img/logo.png" alt="Logo">
        </a>
    </div>

    <div class="main-nav">
        <div class="">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img class="logo" src="assets/img/logo.png" alt="Logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Főoldal</a></li>

                        <!-- <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">About</a></li> -->

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Rólunk</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/organization" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Szervezetünk felépítése</a></li>
                                <li class="nav-item"><a routerLink="/our-story" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Történetünk & Névadónk</a></li>
                                <li class="nav-item"><a routerLink="/liska-family" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">LiskaCsalád</a></li>
                                <li class="nav-item"><a routerLink="/attorney-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Galéria</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a routerLink="/our-basic-pillars" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Alappilléreink</a></li>
                        
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Projektek</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/projects/liskonferencia" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">LisKonferencia</a></li>
                                <li class="nav-item"><a routerLink="/projects/liska-est" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">LiskaEst</a></li>
                                <li class="nav-item"><a routerLink="/projects/bevonotaborok" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Bevonótáborok</a></li>
                                <li class="nav-item"><a routerLink="/projects/liska-tibor-szakmai-napok" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Liska Tibor Szakmai Napok</a></li>
                                <li class="nav-item"><a routerLink="/projects/liskaland" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">LisKaland</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a routerLink="contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tagfelvétel</a></li>
                        <li class="nav-item"><a routerLink="contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Partnereink</a></li>
                        <li class="nav-item"><a routerLink="contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Elérhetőség</a></li>
                    </ul>

                    <div class="side-nav">
                        <a routerLink="/appointment">Liskás leszek</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>